* {
  top: 0;
  bottom: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
}

.navbar-container {
  width: 90%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.navbar-logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navbar-logo > p {
  margin-left: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

li a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.nav-item {
  text-decoration: none;
  color: black;
  padding: 0 1rem;
}

ul li:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.menu-icon {
  display: none;
}

ul li:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  .navbar-logo > p {
    display: none;
  }
  ul {
    display: block;
    text-decoration: none;
    list-style: none;
  }
  li {
    display: none;
  }
  .menu-icon {
    display: block;
    margin: 0 12px;
    cursor: pointer;
    /* display: none; */
  }

  ul li:hover::after {
    width: 0%;
  }
}
