
.navbar {
  height: 80px;
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 2;
  border-bottom: 1px solid rgb(233, 232, 232);
}

.navbar-container {
  width: 90%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.navbar-logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navbar-logo > p {
  margin-left: .7rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.navbar li {
  margin-left: 1.5rem;
}

.navbar li a {
  color: rgb(94, 93, 93);
  position: relative;
}

.navbar li a.active{
  color: #0080d4;
}

.navbar ul li a:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #0080d4;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.menu-icon {
  display: none;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.nav-item-mobile{
  display: none;
}

@media screen and (max-width: 1200px) {    
  .navbar li {
    margin: 1rem;
  }
  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 992px) {    
  .navbar-logo p {
    display: none;
  }
}

@media (max-width: 900px) {
  .navbar{
    height: 60px;
  }
  .navbar-container {
    z-index: 3;
    background-color: white;
  }
  .nav-item-mobile{
    display: block;
  }
  
  .nav-item-desktop{
    display: none;
  }
.navbar ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
    height: 0;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgb(233, 232, 232);
    transition: .25s;
    z-index: 2;
    overflow: hidden;
  }

  .navbar ul.open {
    height: 420px;
    overflow-y: auto;
  }

  .menu-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 12px;
    cursor: pointer;
    background: none;
    border: none;
  }

  .menu-icon .icon {
    font-size: 24px;
  }
}
